/* 태그 선택자 */
/* div {
    background-color: red;
    height: 20px;
    width: 20px;
} */

/* class 선택자 */
.orange {
    color: orange;
}

/* id 선택자 */
#red {
    color: rgb(130, 22, 22);
}  

/* div태그 하위에 있는 apple */
/* div .apple {
    color: red;
} */

/* 하위 선택자 */
/* div > .apple {
    color: blueviolet;
} */

/* 인접 형제 선택자 */
h1 + ul > li{
    font-size:20px ;
}

/* 일반 형제 선택자 */
h1 ~ ul {
    font-size:20px ;
}












/* * {
    background-color: gray;
    color: white;
}

span {
    background-color: red;
}

#first {
    background-color: blue;
}

.second {
    background-color: green;
} */