.div-hover:hover {
    background-color: red;
}

.div-active:active {
    background-color: blue;
    color: white;
}

.input-focus:focus {
    background-color: orange;
}

.a:visited {
    color: darksalmon;
}

/* fruits의 첫 번째 요소가 span일 경우 */
.fruits h3:last-child { 
    color: red;
}

/* fruits의 두 번째 요소가 span일 경우 */
.fruits span:nth-child(2) {
    color: blue;
}

.fruits-2 span:nth-child(2n) {
    color: blue;
}

/* fruits의 요소 중에 span이 아닌 것 */
 .fruits-2 span:not(.wm) {
    background-color: aqua;
}

.fruits *:not(span) {
    background-color: aqua;
}

/* ::before */
div.before-el::before {
    content: "택시";
}
/* ::after */
div.after-el::after {
    content: "빨리";
    color: white;
    font-size: 12px;
    background-color: red;
    border-radius: 2px;
}
/* content가 필수 */

input[name=name] {
    background-color: orange;
}

.fruits-3 > .wm-3 {
    color:blue;
}


.wm-3 {
    color: red;
}

input:disabled {
    background-color: red;
}

[placeholder="이름"] {
    background-color: orange;
}

input:not([placeholder]){
    background-color: blue;
}
