.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    /* animation과 duration은 필수값 */
    animation: movetoright 3s linear 6;
}

@keyframes movetoright {
    /* from {
        left: 0px;

    }

    to {
        left: 100px;
    } */

    0% {
        left: 0px;
        top: 0px;
    }
    
    20% {
        left: 100px;
        top: 0px;
    }
    
    40% {
        left: 100px;
        top: 100px;
    }

    80% {
        left: 0px;
        top: 100px; 
    }
    
    100% {
        left: 0px;
        top: 0px;
    }
}